<!DOCTYPE html>
<html>
<head>
  <title>Setlistr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= favicon_link_tag 'mixer-white.ico' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'https://use.fontawesome.com/ad718c39af.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
